<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NO DEBERÍAS VER ESTA PAGINA</title>
</head>

<body>

  <header id="header_menu" th:fragment="header_menu">
    <nav>
      <div class="header-logo">
        <img src="/_brand/logo.svg" class="h-20" alt="">
      </div>

      <div class="header-menu">

      </div>

      <div class="header-search-bar">
        <p>Lupa</p>
        <input type="text">
      </div>

    </nav>
  </header>

</body>

</html>