<footer>
  <div class="flex w-full">
    <img src="assets/brand/logo.svg" alt="">

    <div class="flex text-white">
      <img src="assets/icon/brand-instagram.svg" alt=""/>
      <img src="assets/icon/brand-facebook.svg" alt=""/>
    </div>
  </div>
  <div class="flex flex-col footer-col">

    <div class="flex gap-28">
      <div class="flex flex-col gap-8">
        <h3>Descarga nuestro menu</h3>
        <a href="#">
          Descarga nuestro menu en pdf
        </a>
      </div>

      <div class="flex flex-col gap-4">
        <h3>Sobre Nosotros</h3>
        <div class="flex flex-col gap-2">
          <a href="">Acerca de Maki</a>
          <a href="">Protección de datos</a>
        </div>

        <h3>Encuentranos:</h3>
        <a href="">Cra 45A #136C - 71</a>
      </div>

    </div>

  </div>
  <p class="text-center text-xs">Copyright © Maki. Todos los derechos reservados.</p>
</footer>