<main>
  <div class="login-container">
    <div class="card-login">

      <app-maki-logo></app-maki-logo>

      <form (ngSubmit)="onSubmit()" novalidate #operatorForm="ngForm">

        <div>
          <input
            name="username"
            type="text"
            [(ngModel)]="username"
            required
            #usernameRef="ngModel"
            placeholder="Usuario"
            [class.border-2]="usernameRef.invalid && usernameRef.touched"
            [class.border-red-500]="usernameRef.invalid && usernameRef.touched" />
        </div>

        <div>
          <input
            name="password"
            type="password"
            [(ngModel)]="password"
            required
            minlength="6"
            #passwordRef="ngModel"
            placeholder="Contraseña"
            [class.border-2]="passwordRef.invalid && passwordRef.touched"
            [class.border-red-500]="passwordRef.invalid && passwordRef.touched" />
        </div>

        <div id="log-in-errors">
          <p *ngIf="usernameRef.errors?.['required'] && usernameRef.touched">
            El usuario es obligatorio.
          </p>
          <p *ngIf="passwordRef.errors?.['required'] && passwordRef.touched">
            La contraseña es obligatoria.
          </p>
          <p *ngIf="passwordRef.errors?.['minlength'] && passwordRef.touched">
            La contraseña debe tener al menos 6 caracteres.
          </p>
        </div>

        <div>
          <button type="submit" [disabled]="operatorForm.invalid">
            Iniciar sesión
          </button>
        </div>

        <div class="login-urls">
          <a class="text-right" href="/client/log-in">¿Eres cliente? Inicia sesión acá</a>
        </div>

      </form>

    </div>
  </div>
</main>

<app-footer></app-footer>
