<section class="carousel" >

  <div class="carousel-controls">
    <img src="assets/icon/chevron-left.svg" class="carousel-left-btn" />
    <img src="assets/icon/chevron-right.svg" class="carousel-right-btn" />
  </div>

  <img class="carousel_image active" src="assets/images/carousel/car_img_1.png" alt="">
  <img class="carousel_image" src="assets/images/carousel/car_img_2.png" alt="">
  <img class="carousel_image" src="assets/images/carousel/car_img_3.png" alt="">
  <img class="carousel_image" src="assets/images/carousel/car_img_4.png" alt="">
</section>
