<header id="header_menu" >
  <nav>
    <a (click)="navigateTo('/')" class="header-logo">
      <img src="assets/brand/logo.svg" class="h-20" alt="">
      <div class="title-area">
        <h1>Maki</h1>
        <h2>Cocina Japonesa</h2>
      </div>
    </a>

    <div class="header-menu">
      <a (click)="navigateTo('/menu')">
        <i class="ti ti-picnic-table"></i>
        <p>Ver Menú</p>
      </a>
      <a (click)="navigateTo('/plate/crud')">
        <i class="ti ti-truck-delivery"></i>
         <p>Domicilios</p>
      </a>
    </div>

    <div class="header-profile">
      <a (click)="navigateTo('/profile')">
        <i class="ti ti-user"></i>
        <p>Iniciar Sesión</p>
      </a>
    </div>

  </nav>
</header>