<header id="header_menu" >
  <nav>
    <app-maki-logo></app-maki-logo>

    <div class="header-menu">
      <a id="menu-link" (click)="navigateTo('plate/menu')">
        <i class="ti ti-picnic-table"></i>
        <p>Ver Menú</p>
      </a>
      <a (click)="navigateTo('')">
        <i class="ti ti-truck-delivery"></i>
         <p>Domicilios</p>
      </a>
    </div>

    <div class="flex gap-2">
      <div *ngIf="loggedRole === 'CLIENT'" class="shopping-cart">
        <button class="header-button" (click)="this.cart.open()">
          <i class="ti ti-shopping-bag"></i>
          <p>Carrito</p>
        </button>
      </div>

      <div class="header-profile">
        <a *ngIf="!loggedRole" (click)="navigateTo('/log-in')">
          <i class="ti ti-user"></i>
          <p>Iniciar Sesión</p>
        </a>

        <a id = "profile-link" *ngIf="loggedRole" (click)="goToProfile()">
          <i class="ti ti-user"></i>
          <p>Perfil</p>
        </a>
      </div>
    </div>

  </nav>
</header>
