.single-food-card{
    background-color: #EB7C21;
}

#single-item {
    position: relative;
    min-height: 100vh;
    background-image: var(--bg-img);
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;

}

#single-item::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(20, 20, 29, 0.8); 
}

#single-item > * {
    position: relative;
    z-index: 1;
}

.single-food-card{
    margin: 15rem;
    height: 40rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 2rem;
}

#plate-img{
    width: 50%;
    height: 40rem;
    margin-right: 1rem;
    border-radius: 2rem 0 0 2rem;
}

#plate-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem 0 0 2rem;
}

#plate-info{
    width: 50%;
    height: 37rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    text-align: justify;
    background-color: #f6ceaa;
    border-radius: 2rem;
}

.single-food-card h2{
    color: #1b1b26;
    font-size: 6rem;
    text-align: center;
}

#special-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
}

form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

textarea{
    width: 100%;
    height: 6rem;
    padding: 0.5rem;    
    border-radius: 0.5rem;
    resize: none;
    background-color: #fefced
}

label{
    text-align: left;
    font-family: "Staatliches", sans-serif  ;
    font-size: 1.5rem;
}