main {
  background-image: 
    linear-gradient(rgba(255,255,255,0.5), rgba(255,255,255,0.5)),
    url("../../../assets/images/tree_back.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;

}

.login-container {
  @apply w-screen h-screen flex items-center justify-center p-4;
}

.card-login {
  @apply w-full max-w-[35rem] bg-maki-black p-6 lg:p-10 rounded-xl flex flex-col gap-6 text-white;
}

.card-login form {
  @apply flex flex-col gap-4
}

#log-in-errors {
  @apply hidden
}

.card-login form > div {
  @apply flex gap-4
}

.card-login input {
  @apply w-full p-2 px-3 lg:px-4 lg:p-3 rounded outline-none
}

.log-in-errors {
  @apply text-red-500
}

.card-login button {
  @apply bg-maki-orange text-white w-full p-2 lg:p-3 rounded font-semibold text-base lg:text-lg
}

.login-urls {
  @apply flex justify-between
}

.login-urls a {
  @apply flex-1 text-xs text-neutral-300
}