<app-full-layout>

  <body class="font-sans">
    <main class="tree_background min-h-screen p-6">
      <br />
      <div>
        <h2 class="text-center text-6xl xl:text-[8rem]">Panel de operador</h2>
        <p class="text-lg text-gray-500 mt-2 text-center">
          Selecciona un módulo para gestionar
        </p>
        <br>
      </div>

      <section>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 max-w-5xl mx-auto">

          <app-admin-gateway-button *ngFor="let data of buttons" [data]="data">
          </app-admin-gateway-button>

        </div>
      </section>
    </main>
  </body>
</app-full-layout>