<app-full-layout>
    <main class="tree_background">
        <br />
        <div id="title-area">
            <h2 class="text-center">MENÚ</h2>
        </div>
    
        <section id="products">
            <div id="menu-cards" class="container mx-auto px-2 py-6 flex flex-col justify-center items-center">
    
                <section *ngFor="let cat of categorias" class="menu-section grid grid-cols-1 lg:grid-cols-2 gap-6"
                    [id]="'cat-' + cat.id">
                    <h2 class="col-span-2">{{ getCategoryLabel(cat.name) }}</h2>
    
                    <article *ngFor="let plate of platesForCategory(cat.name)" class="food-menu-item h-[20rem] relative">
                        <img [src]="plate.urlImage" [alt]="plate.name" class="w-full h-full object-cover rounded-t-lg" />
    
                        <div class="p-4">
                            <h3 class="font-bold mb-2">{{ plate.name }}</h3>
                            <p class="text-gray-700 text-2xl mb-4 line-clamp-3">{{ plate.description }}</p>
                            <p class="font-semibold text-[#ffffff] text-3xl">
                                {{ plate.price | currency:'COP':'symbol':'1.0-0' }}
                            </p>
                            <button
                                class="absolute bottom-5 right-5 bg-white text-black rounded-full w-12 h-12 flex items-center justify-center shadow-lg hover:bg-gray-200 transition-all cursor-pointer"
                                (click)="navigateTo('/plate/' + plate.id)">
                                <span class="text-4xl font-bold leading-none select-none">+</span>
    
                            </button>
                        </div>
                    </article>
                </section>
            </div>
        </section>
    </main>
</app-full-layout>