.food-menu-grid {
  @apply grid grid-cols-2  p-8 xl:p-4 gap-6 xl:grid-cols-3 max-w-400 mx-auto;
}

.food-menu-item {
  @apply flex flex-col gap-2 h-160 rounded-2xl overflow-hidden shadow;
}

.food-menu-item img {
  @apply grow object-cover;
}

.food-menu-item p {
  @apply p-8 bg-maki-orange text-white font-staatliches text-8xl text-center;
}
