<header id="header_menu" >
  <nav>
    <div class="header-logo">
      <img src="assets/brand/logo.svg" class="h-20" alt="">
      <div class="title-area">
        <h1>Maki</h1>
        <h2>Cocina Japonesa</h2>
      </div>
    </div>

    <div class="header-menu">
      <a (click)="navigateTo('/')">
        <img src="assets/icon/home_icon.png" alt="">
      </a>
      <a (click)="navigateTo('/menu')">
        <img src="assets/icon/menu_icon.png" alt="">
      </a>
      <a (click)="navigateTo('/plate/crud')">
        <img src="assets/icon/delivery_icon.png" alt="">
      </a>
      <a (click)="navigateTo('/client/log-in')">
        <img src="assets/icon/user_profile_icon.png" alt="">
      </a>
    </div>

    <div class="header-search-bar"> 
    </div>

  </nav>
</header>