<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>NO DEBERÍAS VER ESTA PAGINA</title>
  <!-- Tailwind CSS -->
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

</head>

<body>

  <section th:fragment="review-carousel" class="review-carousel">
    <div class="review-item">
      <p>
        <b>Finalista Regional - Sushi Master</b>
      </p>
      <p>"El sushi estaba fresquísimo y el ramen tenía muchísimo sabor. El lugar es pequeño pero muy acogedor.
        Definitivamente vuelvo."</p>
    </div>
    <div class="review-item">
      <p>
        <b>Finalista Regional - Sushi Master</b>
      </p>
      <p>"El sushi estaba fresquísimo y el ramen tenía muchísimo sabor. El lugar es pequeño pero muy acogedor.
        Definitivamente vuelvo."</p>
    </div>
    <div class="review-item">
      <p>
        <b>Finalista Regional - Sushi Master</b>
      </p>
      <p>"El sushi estaba fresquísimo y el ramen tenía muchísimo sabor. El lugar es pequeño pero muy acogedor.
        Definitivamente vuelvo."</p>
    </div>
    <div class="review-item">
      <p>
        <b>Finalista Regional - Sushi Master</b>
      </p>
      <p>"El sushi estaba fresquísimo y el ramen tenía muchísimo sabor. El lugar es pequeño pero muy acogedor.
        Definitivamente vuelvo."</p>
    </div>
    <div class="review-item">
      <p>
        <b>Finalista Regional - Sushi Master</b>
      </p>
      <p>"El sushi estaba fresquísimo y el ramen tenía muchísimo sabor. El lugar es pequeño pero muy acogedor.
        Definitivamente vuelvo."</p>
    </div>
    <div class="review-item">
      <p>
        <b>Finalista Regional - Sushi Master</b>
      </p>
      <p>"El sushi estaba fresquísimo y el ramen tenía muchísimo sabor. El lugar es pequeño pero muy acogedor.
        Definitivamente vuelvo."</p>
    </div>
  </section>

</body>

</html>